In [1]:
import pandas as pd

In [2]:
#combine and export all the data
val = pd.read_csv('validation.csv')

In [3]:
train = pd.read_csv('train.csv')

In [4]:
test = pd.read_csv('test.csv')

In [7]:
#combine the three datasets
combined = pd.concat([train, val, test], axis = 0)

In [10]:
#drop unnecessary variables, in this case the index, username and the generation algorithm for the bot tweets
combined.drop(['Unnamed: 0', 'screen_name', 'class_type'], axis = 1, inplace = True)

In [11]:
combined.reset_index(drop = True, inplace = True)

In [12]:
combined['isBot'] = 0

In [13]:
combined.head()

                                                text account.type  isBot
0                             YEA now that note GOOD          bot      0
1  Listen to This Charming Man by The Smiths  htt...        human      0
2  wish i can i would be seeing other hoes on the...          bot      0
3  The decade in the significantly easier schedul...          bot      0
4  "Theim class=\"alignnone size-full wp-image-60...          bot      0

In [14]:
#include a numeric variable for the account type
combined.loc[combined['account.type'] == 'bot', 'isBot'] = 1

In [15]:
#Drop the account type column as we no longer need it
combined.drop(['account.type'], inplace = True, axis = 1)

In [16]:
#save the combined and processed dataframe in a csv file
combined.to_csv("tweets_data.csv")